<div class="glitch" style="background-image: url('img/cyberpunk-bg.jpg');">
    <div class="channel r"></div>
    <div class="channel g"></div>
    <div class="channel b"></div>
</div>

<FvOverlay />

@code {

}
