@import '';

/* /Components/Atoms/FvTitle.razor.rz.scp.css */
/* /Components/Molecules/FvOverlay.razor.rz.scp.css */
/* /Components/Template/Glitch.razor.rz.scp.css */
.glitch[b-iskzyhd47c] {
  background: #000 no-repeat center;
  background-size: 0;
  height: 100vh;
  overflow: hidden;
  position: relative; }
  .glitch[b-iskzyhd47c]::before, .glitch[b-iskzyhd47c]::after,
  .glitch .channel[b-iskzyhd47c] {
    background: inherit;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
  .glitch .channel[b-iskzyhd47c] {
    mix-blend-mode: screen; }
    .glitch .channel[b-iskzyhd47c]::before {
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      mix-blend-mode: multiply;
      position: absolute;
      right: 0;
      top: 0; }
  .glitch[b-iskzyhd47c]::before {
    animation: glitch-before-b-iskzyhd47c 3s linear infinite alternate both;
    content: ""; }

@keyframes glitch-before-b-iskzyhd47c {
  0% {
    clip-path: polygon(0% 66.94629%, 100% 66.94629%, 100% 76.48484%, 0% 76.48484%);
    transform: translate(-1.42666%, 0.45279%); }
  2% {
    clip-path: polygon(0% 85.99481%, 100% 85.99481%, 100% 87.06822%, 0% 87.06822%);
    transform: translate(-5.28171%, 0.47413%); }
  4% {
    clip-path: polygon(0% 18.61018%, 100% 18.61018%, 100% 24.3741%, 0% 24.3741%);
    transform: translate(1.16741%, 0.43774%); }
  6% {
    clip-path: polygon(0% 35.69317%, 100% 35.69317%, 100% 39.82015%, 0% 39.82015%);
    transform: translate(4.84462%, -0.37003%); }
  8% {
    clip-path: polygon(0% 49.83597%, 100% 49.83597%, 100% 57.86043%, 0% 57.86043%);
    transform: translate(1.09451%, 0.35999%); }
  10% {
    clip-path: polygon(0% 1.13575%, 100% 1.13575%, 100% 6.15934%, 0% 6.15934%);
    transform: translate(5.73568%, -0.22032%); }
  12% {
    clip-path: polygon(0% 33.45672%, 100% 33.45672%, 100% 42.61009%, 0% 42.61009%);
    transform: translate(-2.03437%, 0.39069%); }
  14% {
    clip-path: polygon(0% 36.54876%, 100% 36.54876%, 100% 45.07219%, 0% 45.07219%);
    transform: translate(2.03108%, -0.0851%); }
  16% {
    clip-path: polygon(0% 67.46284%, 100% 67.46284%, 100% 74.07227%, 0% 74.07227%);
    transform: translate(-1.21494%, 0.14506%); }
  18% {
    clip-path: polygon(0% 6.31233%, 100% 6.31233%, 100% 8.6448%, 0% 8.6448%);
    transform: translate(-4.93355%, -0.07914%); }
  20%, 100% {
    clip-path: none;
    transform: none; } }
  .glitch[b-iskzyhd47c]::after {
    animation: glitch-after-b-iskzyhd47c 3s linear infinite alternate both;
    content: ""; }

@keyframes glitch-after-b-iskzyhd47c {
  0% {
    clip-path: polygon(0% 56.5187%, 100% 56.5187%, 100% 64.98424%, 0% 64.98424%);
    transform: translate(3.64027%, -0.37813%); }
  2% {
    clip-path: polygon(0% 10.37842%, 100% 10.37842%, 100% 17.95336%, 0% 17.95336%);
    transform: translate(2.28388%, -0.46595%); }
  4% {
    clip-path: polygon(0% 12.62949%, 100% 12.62949%, 100% 19.54363%, 0% 19.54363%);
    transform: translate(1.70888%, 0.21993%); }
  6% {
    clip-path: polygon(0% 30.19385%, 100% 30.19385%, 100% 31.82154%, 0% 31.82154%);
    transform: translate(6.90462%, -0.01072%); }
  8% {
    clip-path: polygon(0% 87.99741%, 100% 87.99741%, 100% 90.91305%, 0% 90.91305%);
    transform: translate(2.36694%, -0.0069%); }
  10% {
    clip-path: polygon(0% 25.58509%, 100% 25.58509%, 100% 30.26906%, 0% 30.26906%);
    transform: translate(-5.57805%, -0.39022%); }
  12% {
    clip-path: polygon(0% 66.53468%, 100% 66.53468%, 100% 75.21895%, 0% 75.21895%);
    transform: translate(2.04434%, 0.31508%); }
  14% {
    clip-path: polygon(0% 26.79%, 100% 26.79%, 100% 30.68704%, 0% 30.68704%);
    transform: translate(-5.82003%, 0.31326%); }
  16% {
    clip-path: polygon(0% 77.2354%, 100% 77.2354%, 100% 78.41664%, 0% 78.41664%);
    transform: translate(-2.3722%, 0.12%); }
  18% {
    clip-path: polygon(0% 36.28686%, 100% 36.28686%, 100% 40.7031%, 0% 40.7031%);
    transform: translate(5.80286%, -0.3325%); }
  20%, 100% {
    clip-path: none;
    transform: none; } }
  .glitch .r[b-iskzyhd47c] {
    animation: rgb-shift-r-b-iskzyhd47c 3s steps(1, jump-end) infinite alternate both; }

@keyframes rgb-shift-r-b-iskzyhd47c {
  0% {
    transform: translate(-1.7433%, 0.04827%); }
  2% {
    transform: translate(-0.98339%, 0.37179%); }
  4% {
    transform: translate(0.93038%, 0.38971%); }
  6% {
    transform: translate(-0.71466%, -0.20558%); }
  8% {
    transform: translate(-0.85749%, 0.24043%); }
  10% {
    transform: translate(0.02584%, 0.38386%); }
  12% {
    transform: translate(-1.32442%, -0.30495%); }
  14% {
    transform: translate(0.11185%, 0.38169%); }
  16% {
    transform: translate(1.44543%, -0.30197%); }
  18% {
    transform: translate(-1.7013%, -0.47326%); }
  20%, 100% {
    transform: none; } }
    .glitch .r[b-iskzyhd47c]::before {
      background: #f00; }
  .glitch .g[b-iskzyhd47c] {
    animation: rgb-shift-g-b-iskzyhd47c 3s steps(1, jump-end) infinite alternate both; }

@keyframes rgb-shift-g-b-iskzyhd47c {
  0% {
    transform: translate(-1.63757%, 0.30045%); }
  2% {
    transform: translate(1.7523%, 0.02903%); }
  4% {
    transform: translate(-0.74616%, 0.48435%); }
  6% {
    transform: translate(-1.99036%, -0.04367%); }
  8% {
    transform: translate(-0.87207%, 0.25247%); }
  10% {
    transform: translate(1.18683%, 0.46145%); }
  12% {
    transform: translate(1.55716%, 0.25652%); }
  14% {
    transform: translate(1.62837%, -0.40588%); }
  16% {
    transform: translate(0.87183%, 0.11808%); }
  18% {
    transform: translate(0.46133%, 0.18644%); }
  20%, 100% {
    transform: none; } }
    .glitch .g[b-iskzyhd47c]::before {
      background: #0f0; }
  .glitch .b[b-iskzyhd47c] {
    animation: rgb-shift-b-b-iskzyhd47c 3s steps(1, jump-end) infinite alternate both; }

@keyframes rgb-shift-b-b-iskzyhd47c {
  0% {
    transform: translate(-0.92158%, -0.10274%); }
  2% {
    transform: translate(1.03426%, -0.41265%); }
  4% {
    transform: translate(-0.14458%, -0.03509%); }
  6% {
    transform: translate(1.66829%, -0.16344%); }
  8% {
    transform: translate(1.8246%, 0.01772%); }
  10% {
    transform: translate(0.91695%, -0.3918%); }
  12% {
    transform: translate(-1.20639%, 0.16651%); }
  14% {
    transform: translate(-0.95774%, -0.44241%); }
  16% {
    transform: translate(1.69125%, 0.40171%); }
  18% {
    transform: translate(0.14035%, -0.44179%); }
  20%, 100% {
    transform: none; } }
    .glitch .b[b-iskzyhd47c]::before {
      background: #00f; }
/* /Components/Template/GlitchOverlay.razor.rz.scp.css */
.glitch[b-g1doqfvnbv] {
  background: #000 no-repeat center;
  background-size: 0;
  height: 100vh;
  overflow: hidden;
  position: relative; }
  .glitch[b-g1doqfvnbv]::before, .glitch[b-g1doqfvnbv]::after,
  .glitch .channel[b-g1doqfvnbv] {
    background: inherit;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
  .glitch .channel[b-g1doqfvnbv] {
    mix-blend-mode: screen; }
    .glitch .channel[b-g1doqfvnbv]::before {
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      mix-blend-mode: multiply;
      position: absolute;
      right: 0;
      top: 0; }
  .glitch[b-g1doqfvnbv]::before {
    animation: glitch-before-b-g1doqfvnbv 3s linear infinite alternate both;
    content: ""; }

@keyframes glitch-before-b-g1doqfvnbv {
  0% {
    clip-path: polygon(0% 8.45797%, 100% 8.45797%, 100% 16.25895%, 0% 16.25895%);
    transform: translate(0.54941%, -0.28921%); }
  2% {
    clip-path: polygon(0% 51.74954%, 100% 51.74954%, 100% 55.1114%, 0% 55.1114%);
    transform: translate(-3.22184%, -0.01722%); }
  4% {
    clip-path: polygon(0% 76.8764%, 100% 76.8764%, 100% 79.3053%, 0% 79.3053%);
    transform: translate(2.43636%, 0.20032%); }
  6% {
    clip-path: polygon(0% 78.15009%, 100% 78.15009%, 100% 83.78626%, 0% 83.78626%);
    transform: translate(-0.86667%, 0.02377%); }
  8% {
    clip-path: polygon(0% 56.25322%, 100% 56.25322%, 100% 64.52271%, 0% 64.52271%);
    transform: translate(-6.66537%, -0.0414%); }
  10% {
    clip-path: polygon(0% 53.72906%, 100% 53.72906%, 100% 61.75813%, 0% 61.75813%);
    transform: translate(1.25407%, -0.43078%); }
  12% {
    clip-path: polygon(0% 21.7509%, 100% 21.7509%, 100% 25.87906%, 0% 25.87906%);
    transform: translate(-6.81184%, -0.33004%); }
  14% {
    clip-path: polygon(0% 28.24653%, 100% 28.24653%, 100% 33.9084%, 0% 33.9084%);
    transform: translate(0.61043%, 0.3909%); }
  16% {
    clip-path: polygon(0% 31.70711%, 100% 31.70711%, 100% 34.22941%, 0% 34.22941%);
    transform: translate(-5.9577%, -0.05798%); }
  18% {
    clip-path: polygon(0% 30.8474%, 100% 30.8474%, 100% 32.44397%, 0% 32.44397%);
    transform: translate(-2.82772%, -0.05929%); }
  20%, 100% {
    clip-path: none;
    transform: none; } }
  .glitch[b-g1doqfvnbv]::after {
    animation: glitch-after-b-g1doqfvnbv 3s linear infinite alternate both;
    content: ""; }

@keyframes glitch-after-b-g1doqfvnbv {
  0% {
    clip-path: polygon(0% 59.58837%, 100% 59.58837%, 100% 63.40411%, 0% 63.40411%);
    transform: translate(-2.71559%, 0.02082%); }
  2% {
    clip-path: polygon(0% 89.98557%, 100% 89.98557%, 100% 97.67685%, 0% 97.67685%);
    transform: translate(-0.58724%, -0.45817%); }
  4% {
    clip-path: polygon(0% 0.10659%, 100% 0.10659%, 100% 6.55623%, 0% 6.55623%);
    transform: translate(-1.98175%, -0.31886%); }
  6% {
    clip-path: polygon(0% 37.01983%, 100% 37.01983%, 100% 43.1105%, 0% 43.1105%);
    transform: translate(3.11731%, 0.38233%); }
  8% {
    clip-path: polygon(0% 40.98881%, 100% 40.98881%, 100% 45.63564%, 0% 45.63564%);
    transform: translate(-7.28685%, 0.31443%); }
  10% {
    clip-path: polygon(0% 56.85525%, 100% 56.85525%, 100% 58.34983%, 0% 58.34983%);
    transform: translate(-2.89963%, -0.1537%); }
  12% {
    clip-path: polygon(0% 59.13424%, 100% 59.13424%, 100% 67.28073%, 0% 67.28073%);
    transform: translate(-5.98813%, 0.36286%); }
  14% {
    clip-path: polygon(0% 48.10263%, 100% 48.10263%, 100% 50.03964%, 0% 50.03964%);
    transform: translate(0.14722%, -0.15635%); }
  16% {
    clip-path: polygon(0% 68.73623%, 100% 68.73623%, 100% 73.24557%, 0% 73.24557%);
    transform: translate(5.58538%, 0.43217%); }
  18% {
    clip-path: polygon(0% 50.29468%, 100% 50.29468%, 100% 57.32257%, 0% 57.32257%);
    transform: translate(-2.02278%, -0.30634%); }
  20%, 100% {
    clip-path: none;
    transform: none; } }
  .glitch .r[b-g1doqfvnbv] {
    animation: rgb-shift-r-b-g1doqfvnbv 3s steps(1, jump-end) infinite alternate both; }

@keyframes rgb-shift-r-b-g1doqfvnbv {
  0% {
    transform: translate(-0.56246%, 0.14839%); }
  2% {
    transform: translate(0.04447%, -0.4777%); }
  4% {
    transform: translate(1.33771%, -0.36879%); }
  6% {
    transform: translate(-0.42195%, -0.26194%); }
  8% {
    transform: translate(-1.04237%, 0.16607%); }
  10% {
    transform: translate(1.73771%, -0.11559%); }
  12% {
    transform: translate(1.01989%, 0.48374%); }
  14% {
    transform: translate(-1.00051%, 0.37275%); }
  16% {
    transform: translate(-0.98836%, -0.16561%); }
  18% {
    transform: translate(-0.09897%, 0.40802%); }
  20%, 100% {
    transform: none; } }
    .glitch .r[b-g1doqfvnbv]::before {
      background: #f00; }
  .glitch .g[b-g1doqfvnbv] {
    animation: rgb-shift-g-b-g1doqfvnbv 3s steps(1, jump-end) infinite alternate both; }

@keyframes rgb-shift-g-b-g1doqfvnbv {
  0% {
    transform: translate(1.86542%, -0.39644%); }
  2% {
    transform: translate(0.89563%, 0.26702%); }
  4% {
    transform: translate(0.48075%, 0.06677%); }
  6% {
    transform: translate(-1.46305%, -0.12087%); }
  8% {
    transform: translate(1.09192%, -0.41596%); }
  10% {
    transform: translate(1.61674%, -0.00377%); }
  12% {
    transform: translate(0.02027%, -0.01547%); }
  14% {
    transform: translate(-1.6146%, -0.07807%); }
  16% {
    transform: translate(1.13416%, -0.23731%); }
  18% {
    transform: translate(1.63025%, 0.34351%); }
  20%, 100% {
    transform: none; } }
    .glitch .g[b-g1doqfvnbv]::before {
      background: #0f0; }
  .glitch .b[b-g1doqfvnbv] {
    animation: rgb-shift-b-b-g1doqfvnbv 3s steps(1, jump-end) infinite alternate both; }

@keyframes rgb-shift-b-b-g1doqfvnbv {
  0% {
    transform: translate(0.83179%, 0.18949%); }
  2% {
    transform: translate(0.42336%, 0.19231%); }
  4% {
    transform: translate(-1.30624%, 0.29077%); }
  6% {
    transform: translate(-1.61516%, -0.29306%); }
  8% {
    transform: translate(-1.90415%, -0.01738%); }
  10% {
    transform: translate(-1.57566%, -0.14697%); }
  12% {
    transform: translate(-0.70972%, 0.11292%); }
  14% {
    transform: translate(-1.59632%, 0.01663%); }
  16% {
    transform: translate(-1.19751%, -0.15111%); }
  18% {
    transform: translate(0.4862%, 0.26527%); }
  20%, 100% {
    transform: none; } }
    .glitch .b[b-g1doqfvnbv]::before {
      background: #00f; }
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-dj1mk1eabc] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-dj1mk1eabc] {
    flex: 1;
}

.sidebar[b-dj1mk1eabc] {
    position: absolute;
    background: transparent;
    width: 100vw;
    z-index: 2;
}

.top-row[b-dj1mk1eabc] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-dj1mk1eabc]  a, .top-row .btn-link[b-dj1mk1eabc] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-dj1mk1eabc] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-dj1mk1eabc] {
        display: none;
    }

    .top-row.auth[b-dj1mk1eabc] {
        justify-content: space-between;
    }

    .top-row a[b-dj1mk1eabc], .top-row .btn-link[b-dj1mk1eabc] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-dj1mk1eabc] {
        flex-direction: row;
    }

    .sidebar[b-dj1mk1eabc] {
        top: 0;
    }

    .top-row[b-dj1mk1eabc] {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .nav-item[b-dj1mk1eabc] {
        width: 250px;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-9qygeiaq4p] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-9qygeiaq4p] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-9qygeiaq4p] {
    font-size: 1.1rem;
}

.oi[b-9qygeiaq4p] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-9qygeiaq4p] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-9qygeiaq4p] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-9qygeiaq4p] {
        padding-bottom: 1rem;
    }

    .nav-item[b-9qygeiaq4p]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-9qygeiaq4p]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-9qygeiaq4p]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}
